<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>HeroSelectionIntent</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Emoji Rangers uses your photo library to let you set an owner portrait that appears in your Live Activities.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Emoji Rangers may save selected photos to your photo library.</string>
</dict>
</plist>
